<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5032aa9e2ed17a9a0ac09f5da27ded07 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
    <script>
        // Get the map container
        var map = document.querySelector('.folium-map');
        
        // Function to adjust zoom based on screen width
        function adjustZoom() {
            var mapObj = document.querySelector('.folium-map')._leaflet_map;
            if (window.innerWidth < 768) {
                // Mobile view - set zoom to a lower level
                mapObj.setZoom(12);
            } else {
                // Desktop view - use original zoom
                mapObj.setZoom(16);
            }
        }
        
        // Add a listener for map load event
        if (map._leaflet_map) {
            adjustZoom();
        } else {
            map.addEventListener('leaflet.map.init', function() {
                // Run after the map is initialized
                setTimeout(adjustZoom, 100);
            });
        }
        
        // Adjust zoom when window is resized
        window.addEventListener('resize', adjustZoom);
    </script>
    
    
            <div class="folium-map" id="map_5032aa9e2ed17a9a0ac09f5da27ded07" ></div>
        
</body>
<script>
    
    
            var map_5032aa9e2ed17a9a0ac09f5da27ded07 = L.map(
                "map_5032aa9e2ed17a9a0ac09f5da27ded07",
                {
                    center: [47.50391, 19.05076],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5a9aefc9d94b0da1708a663dcbdacf32 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_5a9aefc9d94b0da1708a663dcbdacf32.addTo(map_5032aa9e2ed17a9a0ac09f5da27ded07);
        
    
            var marker_cluster_47d03a54ec0eb87e3961e426020026e5 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_3d0df8fc3a2c29d58faa120837789fc8 = L.marker(
                [47.512603, 19.04895],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_1fe1a6a54937f0d7f7eb8c4aafdc6dae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3d0df8fc3a2c29d58faa120837789fc8.setIcon(icon_1fe1a6a54937f0d7f7eb8c4aafdc6dae);
        
    
        var popup_7b6da673d3d457fb07b86979c3dbbe57 = L.popup({"maxWidth": 300});

        
            
                var html_5f63e13ae07d086a7d44d8fc1d2759a0 = $(`<div id="html_5f63e13ae07d086a7d44d8fc1d2759a0" style="width: 100.0%; height: 100.0%;">The Dead Squirell</div>`)[0];
                popup_7b6da673d3d457fb07b86979c3dbbe57.setContent(html_5f63e13ae07d086a7d44d8fc1d2759a0);
            
        

        marker_3d0df8fc3a2c29d58faa120837789fc8.bindPopup(popup_7b6da673d3d457fb07b86979c3dbbe57)
        ;

        
    
    
            var marker_84caf30fdd2d2f1cc98c2e5e21cbdb87 = L.marker(
                [47.5040513, 19.0514726],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_7a571b85c642bc0bd9bbf2aeaaf25215 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "frog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_84caf30fdd2d2f1cc98c2e5e21cbdb87.setIcon(icon_7a571b85c642bc0bd9bbf2aeaaf25215);
        
    
        var popup_c4104179fcb242a21c72a74fee6eb689 = L.popup({"maxWidth": 300});

        
            
                var html_2f05ca4861c02b49b3d902d2a438fe16 = $(`<div id="html_2f05ca4861c02b49b3d902d2a438fe16" style="width: 100.0%; height: 100.0%;">Kermit the Frog</div>`)[0];
                popup_c4104179fcb242a21c72a74fee6eb689.setContent(html_2f05ca4861c02b49b3d902d2a438fe16);
            
        

        marker_84caf30fdd2d2f1cc98c2e5e21cbdb87.bindPopup(popup_c4104179fcb242a21c72a74fee6eb689)
        ;

        
    
    
            var marker_ce5187397fcd70694ba4acbf67d01be6 = L.marker(
                [47.50264113692668, 19.039962542895616],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_87b99a82f5a2791906690a078501b858 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fish", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ce5187397fcd70694ba4acbf67d01be6.setIcon(icon_87b99a82f5a2791906690a078501b858);
        
    
        var popup_dff847c95b062c63eca2909dd9cc48a9 = L.popup({"maxWidth": 300});

        
            
                var html_638b73afafec4afc0cb81adb6286b65c = $(`<div id="html_638b73afafec4afc0cb81adb6286b65c" style="width: 100.0%; height: 100.0%;">Főkukac</div>`)[0];
                popup_dff847c95b062c63eca2909dd9cc48a9.setContent(html_638b73afafec4afc0cb81adb6286b65c);
            
        

        marker_ce5187397fcd70694ba4acbf67d01be6.bindPopup(popup_dff847c95b062c63eca2909dd9cc48a9)
        ;

        
    
    
            var marker_c85e684aa59d88f782c11e1c1432f267 = L.marker(
                [47.505290167783166, 19.03959366517465],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_6fed6a87a260f94178db0c4e991cefcf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c85e684aa59d88f782c11e1c1432f267.setIcon(icon_6fed6a87a260f94178db0c4e991cefcf);
        
    
        var popup_b0ce50e7a27a17f8526695199ca4251b = L.popup({"maxWidth": 300});

        
            
                var html_e3b244e9c6a5db5102430542f86672a0 = $(`<div id="html_e3b244e9c6a5db5102430542f86672a0" style="width: 100.0%; height: 100.0%;">Tank</div>`)[0];
                popup_b0ce50e7a27a17f8526695199ca4251b.setContent(html_e3b244e9c6a5db5102430542f86672a0);
            
        

        marker_c85e684aa59d88f782c11e1c1432f267.bindPopup(popup_b0ce50e7a27a17f8526695199ca4251b)
        ;

        
    
    
            var marker_2c46483c04e1d3b7e448e5634798ff7f = L.marker(
                [47.504784750961186, 19.039689823872752],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_552b4175fc9ea81bb9d842545f44eb21 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cubes", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2c46483c04e1d3b7e448e5634798ff7f.setIcon(icon_552b4175fc9ea81bb9d842545f44eb21);
        
    
        var popup_ef078d2f1c2521bbda8e2b49bd4eee4d = L.popup({"maxWidth": 300});

        
            
                var html_ff9faa091e77cd869b65e2944bf542ab = $(`<div id="html_ff9faa091e77cd869b65e2944bf542ab" style="width: 100.0%; height: 100.0%;">Rubik cube</div>`)[0];
                popup_ef078d2f1c2521bbda8e2b49bd4eee4d.setContent(html_ff9faa091e77cd869b65e2944bf542ab);
            
        

        marker_2c46483c04e1d3b7e448e5634798ff7f.bindPopup(popup_ef078d2f1c2521bbda8e2b49bd4eee4d)
        ;

        
    
    
            var marker_43ab0b0ccabb6891af2fad714925638a = L.marker(
                [47.4989897265813, 19.0707676486581],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_8258ca0ff42268c759b2026e608b5a11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fish", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_43ab0b0ccabb6891af2fad714925638a.setIcon(icon_8258ca0ff42268c759b2026e608b5a11);
        
    
        var popup_380ac47de875fe2dde402717ae5e50e5 = L.popup({"maxWidth": 300});

        
            
                var html_77d90b78bbecca3a32c7854708c7c57c = $(`<div id="html_77d90b78bbecca3a32c7854708c7c57c" style="width: 100.0%; height: 100.0%;">Diver</div>`)[0];
                popup_380ac47de875fe2dde402717ae5e50e5.setContent(html_77d90b78bbecca3a32c7854708c7c57c);
            
        

        marker_43ab0b0ccabb6891af2fad714925638a.bindPopup(popup_380ac47de875fe2dde402717ae5e50e5)
        ;

        
    
    
            var marker_3b9ed4e9c172e7f444716c685e0ccd00 = L.marker(
                [47.50584439836122, 19.052172422007544],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_97307354b60bc00b4bdb16866e0d5194 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car-side", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3b9ed4e9c172e7f444716c685e0ccd00.setIcon(icon_97307354b60bc00b4bdb16866e0d5194);
        
    
        var popup_4a5183b3705f5ab372a2f01c7fafab51 = L.popup({"maxWidth": 300});

        
            
                var html_90228c10380201080a1ccce581843fb0 = $(`<div id="html_90228c10380201080a1ccce581843fb0" style="width: 100.0%; height: 100.0%;">Moon rover</div>`)[0];
                popup_4a5183b3705f5ab372a2f01c7fafab51.setContent(html_90228c10380201080a1ccce581843fb0);
            
        

        marker_3b9ed4e9c172e7f444716c685e0ccd00.bindPopup(popup_4a5183b3705f5ab372a2f01c7fafab51)
        ;

        
    
    
            var marker_8b064b1e627479725663160a8ddf8f5b = L.marker(
                [47.50506949923929, 19.049972488786576],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_2ae88671e6923bedb7a4e6a8a9878d12 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hammer", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8b064b1e627479725663160a8ddf8f5b.setIcon(icon_2ae88671e6923bedb7a4e6a8a9878d12);
        
    
        var popup_7d59e277de52de8d519d9d1e208e88cd = L.popup({"maxWidth": 300});

        
            
                var html_84f9796a5e1455dfd6c0ebb6b0af8bb0 = $(`<div id="html_84f9796a5e1455dfd6c0ebb6b0af8bb0" style="width: 100.0%; height: 100.0%;">Axe</div>`)[0];
                popup_7d59e277de52de8d519d9d1e208e88cd.setContent(html_84f9796a5e1455dfd6c0ebb6b0af8bb0);
            
        

        marker_8b064b1e627479725663160a8ddf8f5b.bindPopup(popup_7d59e277de52de8d519d9d1e208e88cd)
        ;

        
    
    
            var marker_45e7925a78982da628f3c95dcf91616a = L.marker(
                [47.50369371272755, 19.07249530615872],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_a8eaab59f51e35bc998fc2f03eddf7ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car-side", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_45e7925a78982da628f3c95dcf91616a.setIcon(icon_a8eaab59f51e35bc998fc2f03eddf7ae);
        
    
        var popup_b54d72a857912ee3616dc26a271dd607 = L.popup({"maxWidth": 300});

        
            
                var html_209f07733612ad472c6d53e9781257f2 = $(`<div id="html_209f07733612ad472c6d53e9781257f2" style="width: 100.0%; height: 100.0%;">14-karat Roadster</div>`)[0];
                popup_b54d72a857912ee3616dc26a271dd607.setContent(html_209f07733612ad472c6d53e9781257f2);
            
        

        marker_45e7925a78982da628f3c95dcf91616a.bindPopup(popup_b54d72a857912ee3616dc26a271dd607)
        ;

        
    
    
            var marker_4ff77115fda8c5c43da6576a5c91f76d = L.marker(
                [47.50371019740113, 19.079569975600943],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_7dc47cccc26d4082c25562a18f9c84a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4ff77115fda8c5c43da6576a5c91f76d.setIcon(icon_7dc47cccc26d4082c25562a18f9c84a1);
        
    
        var popup_1216092147491d84d2e2034cd7e89cb9 = L.popup({"maxWidth": 300});

        
            
                var html_b1568a26cbb1113fc87bf00586f99d42 = $(`<div id="html_b1568a26cbb1113fc87bf00586f99d42" style="width: 100.0%; height: 100.0%;">Noahs Ark</div>`)[0];
                popup_1216092147491d84d2e2034cd7e89cb9.setContent(html_b1568a26cbb1113fc87bf00586f99d42);
            
        

        marker_4ff77115fda8c5c43da6576a5c91f76d.bindPopup(popup_1216092147491d84d2e2034cd7e89cb9)
        ;

        
    
    
            var marker_004478dacd45e079b91ba3cb9aa94081 = L.marker(
                [47.49747423597556, 19.051463347995544],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_4de9167706495180d5fce590ca3fe0b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_004478dacd45e079b91ba3cb9aa94081.setIcon(icon_4de9167706495180d5fce590ca3fe0b0);
        
    
        var popup_1c04ad01f3a56c86bb9559107f11878c = L.popup({"maxWidth": 300});

        
            
                var html_358a8b4d48d75800e1838bdad5aded16 = $(`<div id="html_358a8b4d48d75800e1838bdad5aded16" style="width: 100.0%; height: 100.0%;">Bear</div>`)[0];
                popup_1c04ad01f3a56c86bb9559107f11878c.setContent(html_358a8b4d48d75800e1838bdad5aded16);
            
        

        marker_004478dacd45e079b91ba3cb9aa94081.bindPopup(popup_1c04ad01f3a56c86bb9559107f11878c)
        ;

        
    
    
            var marker_cdf227cbd5edd1670209f6bc72e8fb19 = L.marker(
                [47.4857364240772, 19.055044513494188],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_31862981386735427ad9be14d1263b6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_cdf227cbd5edd1670209f6bc72e8fb19.setIcon(icon_31862981386735427ad9be14d1263b6d);
        
    
        var popup_966b313451b9767e36f2940d539514aa = L.popup({"maxWidth": 300});

        
            
                var html_449ba3ff08f484b452f921755d12f7b0 = $(`<div id="html_449ba3ff08f484b452f921755d12f7b0" style="width: 100.0%; height: 100.0%;">Franz Joseph</div>`)[0];
                popup_966b313451b9767e36f2940d539514aa.setContent(html_449ba3ff08f484b452f921755d12f7b0);
            
        

        marker_cdf227cbd5edd1670209f6bc72e8fb19.bindPopup(popup_966b313451b9767e36f2940d539514aa)
        ;

        
    
    
            var marker_9be52a658189bc8f56dbedd818659396 = L.marker(
                [47.49047747038775, 19.047098191767173],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_a5326f5bb9a957a4ddae7f3df7cda656 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9be52a658189bc8f56dbedd818659396.setIcon(icon_a5326f5bb9a957a4ddae7f3df7cda656);
        
    
        var popup_5ad7fa3cd06c4fbd67b6376274adfb4a = L.popup({"maxWidth": 300});

        
            
                var html_80bc0a71859c16bfa7b77da6f5abc979 = $(`<div id="html_80bc0a71859c16bfa7b77da6f5abc979" style="width: 100.0%; height: 100.0%;">Ratatouille</div>`)[0];
                popup_5ad7fa3cd06c4fbd67b6376274adfb4a.setContent(html_80bc0a71859c16bfa7b77da6f5abc979);
            
        

        marker_9be52a658189bc8f56dbedd818659396.bindPopup(popup_5ad7fa3cd06c4fbd67b6376274adfb4a)
        ;

        
    
    
            var marker_6c04e070201f8f7554bfeb5aabd7af52 = L.marker(
                [47.53622714729415, 19.057893617791184],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_bc2307da66946a23a9d9b823f18d2f68 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6c04e070201f8f7554bfeb5aabd7af52.setIcon(icon_bc2307da66946a23a9d9b823f18d2f68);
        
    
        var popup_40850d6da08d144f0bbb54751513dfae = L.popup({"maxWidth": 300});

        
            
                var html_72bfb2d19c96db5fd43797e17dfaea9a = $(`<div id="html_72bfb2d19c96db5fd43797e17dfaea9a" style="width: 100.0%; height: 100.0%;">Russian warship</div>`)[0];
                popup_40850d6da08d144f0bbb54751513dfae.setContent(html_72bfb2d19c96db5fd43797e17dfaea9a);
            
        

        marker_6c04e070201f8f7554bfeb5aabd7af52.bindPopup(popup_40850d6da08d144f0bbb54751513dfae)
        ;

        
    
    
            var marker_1a8259784c9bd56b032c246743075fa8 = L.marker(
                [47.51070262788849, 19.056344650664446],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_f7642649b87aff414748769dadab545c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1a8259784c9bd56b032c246743075fa8.setIcon(icon_f7642649b87aff414748769dadab545c);
        
    
        var popup_f76006f36efa3c649d6ada33d1e395a0 = L.popup({"maxWidth": 300});

        
            
                var html_de229e0f58908165768e0cc607ba29e3 = $(`<div id="html_de229e0f58908165768e0cc607ba29e3" style="width: 100.0%; height: 100.0%;">Skála Kópé</div>`)[0];
                popup_f76006f36efa3c649d6ada33d1e395a0.setContent(html_de229e0f58908165768e0cc607ba29e3);
            
        

        marker_1a8259784c9bd56b032c246743075fa8.bindPopup(popup_f76006f36efa3c649d6ada33d1e395a0)
        ;

        
    
    
            var marker_4429c7f2744d58faa0796ae1e67deb2e = L.marker(
                [47.53290675728547, 19.03955468362713],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_c46144ee09476768368cfe0fe1aa9513 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person-rifle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4429c7f2744d58faa0796ae1e67deb2e.setIcon(icon_c46144ee09476768368cfe0fe1aa9513);
        
    
        var popup_da875f230d484b4e48592a249197cb92 = L.popup({"maxWidth": 300});

        
            
                var html_c19b539ec453f89d138d1e6372fb1ad8 = $(`<div id="html_c19b539ec453f89d138d1e6372fb1ad8" style="width: 100.0%; height: 100.0%;">In Vino VEritas</div>`)[0];
                popup_da875f230d484b4e48592a249197cb92.setContent(html_c19b539ec453f89d138d1e6372fb1ad8);
            
        

        marker_4429c7f2744d58faa0796ae1e67deb2e.bindPopup(popup_da875f230d484b4e48592a249197cb92)
        ;

        
    
    
            var marker_045c1a9af3dba0b27c1494eba9afec5f = L.marker(
                [47.507204159185775, 19.031536844779563],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_20415c4bfc75842b9560f8b0eec845cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_045c1a9af3dba0b27c1494eba9afec5f.setIcon(icon_20415c4bfc75842b9560f8b0eec845cd);
        
    
        var popup_c517b7b97107b2af0f764c4b820c7bfd = L.popup({"maxWidth": 300});

        
            
                var html_9f5e3960332467a458cd872ba6d2019a = $(`<div id="html_9f5e3960332467a458cd872ba6d2019a" style="width: 100.0%; height: 100.0%;">Dogs</div>`)[0];
                popup_c517b7b97107b2af0f764c4b820c7bfd.setContent(html_9f5e3960332467a458cd872ba6d2019a);
            
        

        marker_045c1a9af3dba0b27c1494eba9afec5f.bindPopup(popup_c517b7b97107b2af0f764c4b820c7bfd)
        ;

        
    
    
            var marker_fc4aa57584d89ce2fa0ca117a5f4bd33 = L.marker(
                [47.514731638791666, 19.082434815341077],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_54eaa79ef992ae1d8f7458c6dbb5a389 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_fc4aa57584d89ce2fa0ca117a5f4bd33.setIcon(icon_54eaa79ef992ae1d8f7458c6dbb5a389);
        
    
        var popup_4ea72c90315776d54a6970ff242a567e = L.popup({"maxWidth": 300});

        
            
                var html_6f3dc701ff68a053f6097c2066468e0e = $(`<div id="html_6f3dc701ff68a053f6097c2066468e0e" style="width: 100.0%; height: 100.0%;">Dracula</div>`)[0];
                popup_4ea72c90315776d54a6970ff242a567e.setContent(html_6f3dc701ff68a053f6097c2066468e0e);
            
        

        marker_fc4aa57584d89ce2fa0ca117a5f4bd33.bindPopup(popup_4ea72c90315776d54a6970ff242a567e)
        ;

        
    
    
            var marker_098c78ca353fb12865d22cc4cc611334 = L.marker(
                [47.50926926464884, 19.045323876064934],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_a5b523889d4b738d2da7817a56105917 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hat-cowboy", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_098c78ca353fb12865d22cc4cc611334.setIcon(icon_a5b523889d4b738d2da7817a56105917);
        
    
        var popup_9d1b328af0692c5e6e8ffd9cf30e937e = L.popup({"maxWidth": 300});

        
            
                var html_c6304a2a896e904c2ecc1aa1a0f9e61d = $(`<div id="html_c6304a2a896e904c2ecc1aa1a0f9e61d" style="width: 100.0%; height: 100.0%;">Ushanka</div>`)[0];
                popup_9d1b328af0692c5e6e8ffd9cf30e937e.setContent(html_c6304a2a896e904c2ecc1aa1a0f9e61d);
            
        

        marker_098c78ca353fb12865d22cc4cc611334.bindPopup(popup_9d1b328af0692c5e6e8ffd9cf30e937e)
        ;

        
    
    
            var marker_9566b015fdc4bd5452239eba6475a480 = L.marker(
                [47.50907579897638, 19.03588699313249],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_d4bb1d3432b6a8a6b6425734db14ca15 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hippo", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9566b015fdc4bd5452239eba6475a480.setIcon(icon_d4bb1d3432b6a8a6b6425734db14ca15);
        
    
        var popup_db6234ef16282580006d0a8ed32a45be = L.popup({"maxWidth": 300});

        
            
                var html_ea835a0be40cc5625d40c581b2acbde8 = $(`<div id="html_ea835a0be40cc5625d40c581b2acbde8" style="width: 100.0%; height: 100.0%;">Paddington</div>`)[0];
                popup_db6234ef16282580006d0a8ed32a45be.setContent(html_ea835a0be40cc5625d40c581b2acbde8);
            
        

        marker_9566b015fdc4bd5452239eba6475a480.bindPopup(popup_db6234ef16282580006d0a8ed32a45be)
        ;

        
    
    
            var marker_adcd8946c705a6a67e4f944b27bcdcec = L.marker(
                [47.506815317129444, 19.025463886505808],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_25347a50513f9a5c47cdc58d45d2a6cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dragon", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_adcd8946c705a6a67e4f944b27bcdcec.setIcon(icon_25347a50513f9a5c47cdc58d45d2a6cb);
        
    
        var popup_3e9ce2723fc0d7d37245c8f1ead64059 = L.popup({"maxWidth": 300});

        
            
                var html_cc2141f5ea47afe932ad4fc368df24fc = $(`<div id="html_cc2141f5ea47afe932ad4fc368df24fc" style="width: 100.0%; height: 100.0%;">Mekk Elek Cert</div>`)[0];
                popup_3e9ce2723fc0d7d37245c8f1ead64059.setContent(html_cc2141f5ea47afe932ad4fc368df24fc);
            
        

        marker_adcd8946c705a6a67e4f944b27bcdcec.bindPopup(popup_3e9ce2723fc0d7d37245c8f1ead64059)
        ;

        
    
    
            var marker_6109e7a9fc84cb9f9c6ddda72cfe3c1a = L.marker(
                [47.49730006126405, 19.047420132927574],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_fddb917c8122e10b02ad216e35cc73d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6109e7a9fc84cb9f9c6ddda72cfe3c1a.setIcon(icon_fddb917c8122e10b02ad216e35cc73d7);
        
    
        var popup_f726143b3765c44cc0a488fe94648184 = L.popup({"maxWidth": 300});

        
            
                var html_e1f74f46786e5505c9584ead3f60c629 = $(`<div id="html_e1f74f46786e5505c9584ead3f60c629" style="width: 100.0%; height: 100.0%;">Baloon Dog</div>`)[0];
                popup_f726143b3765c44cc0a488fe94648184.setContent(html_e1f74f46786e5505c9584ead3f60c629);
            
        

        marker_6109e7a9fc84cb9f9c6ddda72cfe3c1a.bindPopup(popup_f726143b3765c44cc0a488fe94648184)
        ;

        
    
    
            var marker_b8c641eff14225dc0bbee51061493263 = L.marker(
                [47.49791494719889, 19.03984081162018],
                {}
            ).addTo(marker_cluster_47d03a54ec0eb87e3961e426020026e5);
        
    
            var icon_da16353d240a7935634ace00a02dca22 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "paw", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b8c641eff14225dc0bbee51061493263.setIcon(icon_da16353d240a7935634ace00a02dca22);
        
    
        var popup_077ae4df7281353878a1596e0f099d89 = L.popup({"maxWidth": 300});

        
            
                var html_ff43b6cede75381b394134c5ceb97b9d = $(`<div id="html_ff43b6cede75381b394134c5ceb97b9d" style="width: 100.0%; height: 100.0%;">Rabbit</div>`)[0];
                popup_077ae4df7281353878a1596e0f099d89.setContent(html_ff43b6cede75381b394134c5ceb97b9d);
            
        

        marker_b8c641eff14225dc0bbee51061493263.bindPopup(popup_077ae4df7281353878a1596e0f099d89)
        ;

        
    
    
            marker_cluster_47d03a54ec0eb87e3961e426020026e5.addTo(map_5032aa9e2ed17a9a0ac09f5da27ded07);
        
</script>
</html>