<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0a5636b3e82801d6aaa8bee052d0ac77 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
    <script>
        // Get the map container
        var map = document.querySelector('.folium-map');
        
        // Function to adjust zoom based on screen width
        function adjustZoom() {
            var mapObj = document.querySelector('.folium-map')._leaflet_map;
            if (window.innerWidth < 768) {
                // Mobile view - set zoom to a lower level
                mapObj.setZoom(12);
            } else {
                // Desktop view - use original zoom
                mapObj.setZoom(16);
            }
        }
        
        // Add a listener for map load event
        if (map._leaflet_map) {
            adjustZoom();
        } else {
            map.addEventListener('leaflet.map.init', function() {
                // Run after the map is initialized
                setTimeout(adjustZoom, 100);
            });
        }
        
        // Adjust zoom when window is resized
        window.addEventListener('resize', adjustZoom);
    </script>
    
    
            <div class="folium-map" id="map_0a5636b3e82801d6aaa8bee052d0ac77" ></div>
        
</body>
<script>
    
    
            var map_0a5636b3e82801d6aaa8bee052d0ac77 = L.map(
                "map_0a5636b3e82801d6aaa8bee052d0ac77",
                {
                    center: [47.50391, 19.05076],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3fabca44dbbafd016e71d7eae512494d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3fabca44dbbafd016e71d7eae512494d.addTo(map_0a5636b3e82801d6aaa8bee052d0ac77);
        
    
            var marker_cluster_b35b236d4935e05eb2b5094de1b9e92b = L.markerClusterGroup(
                {}
            );
        
    
            var marker_2a5d8efc4dd4ba082594950cdb7bf660 = L.marker(
                [47.512603, 19.04895],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_4e443a25aad6aa13cd6c8e4659d3516d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2a5d8efc4dd4ba082594950cdb7bf660.setIcon(icon_4e443a25aad6aa13cd6c8e4659d3516d);
        
    
        var popup_6f1bcf9e6d4c68cdfece6a6c2746caf6 = L.popup({"maxWidth": 300});

        
            
                var html_86eac1445ea1e5f0b2e83ac1a171e79b = $(`<div id="html_86eac1445ea1e5f0b2e83ac1a171e79b" style="width: 100.0%; height: 100.0%;">The Dead Squirell</div>`)[0];
                popup_6f1bcf9e6d4c68cdfece6a6c2746caf6.setContent(html_86eac1445ea1e5f0b2e83ac1a171e79b);
            
        

        marker_2a5d8efc4dd4ba082594950cdb7bf660.bindPopup(popup_6f1bcf9e6d4c68cdfece6a6c2746caf6)
        ;

        
    
    
            var marker_5d9fb1296d08cdefb4267c8ddfb8b717 = L.marker(
                [47.5040513, 19.0514726],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_42cdaa13d424c5ab6f6b48d5a94e85af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "frog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5d9fb1296d08cdefb4267c8ddfb8b717.setIcon(icon_42cdaa13d424c5ab6f6b48d5a94e85af);
        
    
        var popup_42c439ccec265458b97b1c22481f724d = L.popup({"maxWidth": 300});

        
            
                var html_0f7700b9e47d69911d9834256f9d5eda = $(`<div id="html_0f7700b9e47d69911d9834256f9d5eda" style="width: 100.0%; height: 100.0%;">Kermit the Frog</div>`)[0];
                popup_42c439ccec265458b97b1c22481f724d.setContent(html_0f7700b9e47d69911d9834256f9d5eda);
            
        

        marker_5d9fb1296d08cdefb4267c8ddfb8b717.bindPopup(popup_42c439ccec265458b97b1c22481f724d)
        ;

        
    
    
            var marker_4274203d76e9316435df59a698b154da = L.marker(
                [47.50264113692668, 19.039962542895616],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_0628d35273e7f31277ffce3273a05423 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fish", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4274203d76e9316435df59a698b154da.setIcon(icon_0628d35273e7f31277ffce3273a05423);
        
    
        var popup_8ecb23c31a60928668ee42f85963c7f9 = L.popup({"maxWidth": 300});

        
            
                var html_43c68ac217dd4112e91ae934f2663934 = $(`<div id="html_43c68ac217dd4112e91ae934f2663934" style="width: 100.0%; height: 100.0%;">Főkukac</div>`)[0];
                popup_8ecb23c31a60928668ee42f85963c7f9.setContent(html_43c68ac217dd4112e91ae934f2663934);
            
        

        marker_4274203d76e9316435df59a698b154da.bindPopup(popup_8ecb23c31a60928668ee42f85963c7f9)
        ;

        
    
    
            var marker_91c5d626439c70ff1e0c789b9f334a9d = L.marker(
                [47.505290167783166, 19.03959366517465],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_e4a41736716c7135aa10dcfad92631da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_91c5d626439c70ff1e0c789b9f334a9d.setIcon(icon_e4a41736716c7135aa10dcfad92631da);
        
    
        var popup_d722599343fd90427cfcc68eeba36387 = L.popup({"maxWidth": 300});

        
            
                var html_0e20370b3ac070dc7cfc5ba01ecf89b9 = $(`<div id="html_0e20370b3ac070dc7cfc5ba01ecf89b9" style="width: 100.0%; height: 100.0%;">Tank</div>`)[0];
                popup_d722599343fd90427cfcc68eeba36387.setContent(html_0e20370b3ac070dc7cfc5ba01ecf89b9);
            
        

        marker_91c5d626439c70ff1e0c789b9f334a9d.bindPopup(popup_d722599343fd90427cfcc68eeba36387)
        ;

        
    
    
            var marker_eed2a1574d59fa51bb4d76824e1aba94 = L.marker(
                [47.504784750961186, 19.039689823872752],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_c35bd0aa58d92e9510eb16d8b78e4973 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cubes", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_eed2a1574d59fa51bb4d76824e1aba94.setIcon(icon_c35bd0aa58d92e9510eb16d8b78e4973);
        
    
        var popup_5d43bfa02d40aec65b5109feab1947e2 = L.popup({"maxWidth": 300});

        
            
                var html_462ec2af7b464f6f9777bb471b82ac48 = $(`<div id="html_462ec2af7b464f6f9777bb471b82ac48" style="width: 100.0%; height: 100.0%;">Rubik cube</div>`)[0];
                popup_5d43bfa02d40aec65b5109feab1947e2.setContent(html_462ec2af7b464f6f9777bb471b82ac48);
            
        

        marker_eed2a1574d59fa51bb4d76824e1aba94.bindPopup(popup_5d43bfa02d40aec65b5109feab1947e2)
        ;

        
    
    
            var marker_1febc9fb351f91ebf0bb37b8df42bb78 = L.marker(
                [47.4989897265813, 19.0707676486581],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_387b94ec6dceb4535236f7d65db6644b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fish", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1febc9fb351f91ebf0bb37b8df42bb78.setIcon(icon_387b94ec6dceb4535236f7d65db6644b);
        
    
        var popup_68c7393155acd4d4ce17049694c2713c = L.popup({"maxWidth": 300});

        
            
                var html_f2e85965a78e086bf1db1b3773740e3a = $(`<div id="html_f2e85965a78e086bf1db1b3773740e3a" style="width: 100.0%; height: 100.0%;">Diver</div>`)[0];
                popup_68c7393155acd4d4ce17049694c2713c.setContent(html_f2e85965a78e086bf1db1b3773740e3a);
            
        

        marker_1febc9fb351f91ebf0bb37b8df42bb78.bindPopup(popup_68c7393155acd4d4ce17049694c2713c)
        ;

        
    
    
            var marker_e8a2a2451ba9562b80816086ccb30b7f = L.marker(
                [47.50584439836122, 19.052172422007544],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_147736caa8c9b357c81aec54f8af72c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car-side", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e8a2a2451ba9562b80816086ccb30b7f.setIcon(icon_147736caa8c9b357c81aec54f8af72c3);
        
    
        var popup_c2ce6f27def77cbfc63df9c7ef656ff7 = L.popup({"maxWidth": 300});

        
            
                var html_9023f736009fceead43585829e158a3f = $(`<div id="html_9023f736009fceead43585829e158a3f" style="width: 100.0%; height: 100.0%;">Moon rover</div>`)[0];
                popup_c2ce6f27def77cbfc63df9c7ef656ff7.setContent(html_9023f736009fceead43585829e158a3f);
            
        

        marker_e8a2a2451ba9562b80816086ccb30b7f.bindPopup(popup_c2ce6f27def77cbfc63df9c7ef656ff7)
        ;

        
    
    
            var marker_80eac2b3c53bc61cfbdc238b9105e5d4 = L.marker(
                [47.50506949923929, 19.049972488786576],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_ceec9b65b2cf88abd501f48f9ae93327 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hammer", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_80eac2b3c53bc61cfbdc238b9105e5d4.setIcon(icon_ceec9b65b2cf88abd501f48f9ae93327);
        
    
        var popup_15a7c06428c8910f853915ef11366f05 = L.popup({"maxWidth": 300});

        
            
                var html_62eb003dd41aaabc888c259439821d54 = $(`<div id="html_62eb003dd41aaabc888c259439821d54" style="width: 100.0%; height: 100.0%;">Axe</div>`)[0];
                popup_15a7c06428c8910f853915ef11366f05.setContent(html_62eb003dd41aaabc888c259439821d54);
            
        

        marker_80eac2b3c53bc61cfbdc238b9105e5d4.bindPopup(popup_15a7c06428c8910f853915ef11366f05)
        ;

        
    
    
            var marker_7b4d15d144396b26a2bc543825cfade8 = L.marker(
                [47.50369371272755, 19.07249530615872],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_c80dc44c114ce4a159848108b0a9ad60 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car-side", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7b4d15d144396b26a2bc543825cfade8.setIcon(icon_c80dc44c114ce4a159848108b0a9ad60);
        
    
        var popup_f0a41be0f6ac5a9ed06753963ec15761 = L.popup({"maxWidth": 300});

        
            
                var html_6b473d2e95750c63998b0fbf2fff6451 = $(`<div id="html_6b473d2e95750c63998b0fbf2fff6451" style="width: 100.0%; height: 100.0%;">14-karat Roadster</div>`)[0];
                popup_f0a41be0f6ac5a9ed06753963ec15761.setContent(html_6b473d2e95750c63998b0fbf2fff6451);
            
        

        marker_7b4d15d144396b26a2bc543825cfade8.bindPopup(popup_f0a41be0f6ac5a9ed06753963ec15761)
        ;

        
    
    
            var marker_d69072b4e197b8bf20fe81dc08c1a938 = L.marker(
                [47.50371019740113, 19.079569975600943],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_56574c1f5e370e50de040237e3620177 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d69072b4e197b8bf20fe81dc08c1a938.setIcon(icon_56574c1f5e370e50de040237e3620177);
        
    
        var popup_dfc1e459a7bec8ef82bf674203ce7a4b = L.popup({"maxWidth": 300});

        
            
                var html_527cceaf986ba4fd2f3763a95ca4b191 = $(`<div id="html_527cceaf986ba4fd2f3763a95ca4b191" style="width: 100.0%; height: 100.0%;">Noahs Ark</div>`)[0];
                popup_dfc1e459a7bec8ef82bf674203ce7a4b.setContent(html_527cceaf986ba4fd2f3763a95ca4b191);
            
        

        marker_d69072b4e197b8bf20fe81dc08c1a938.bindPopup(popup_dfc1e459a7bec8ef82bf674203ce7a4b)
        ;

        
    
    
            var marker_9f9e424a0d97062970040535a63ba1d3 = L.marker(
                [47.49747423597556, 19.051463347995544],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_d8a81ce5f49f244bab005414465037aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9f9e424a0d97062970040535a63ba1d3.setIcon(icon_d8a81ce5f49f244bab005414465037aa);
        
    
        var popup_6476ff5ba3fa171eea112f022a3e4585 = L.popup({"maxWidth": 300});

        
            
                var html_54044bafa1ea43dc5b414bca042f6d64 = $(`<div id="html_54044bafa1ea43dc5b414bca042f6d64" style="width: 100.0%; height: 100.0%;">Bear</div>`)[0];
                popup_6476ff5ba3fa171eea112f022a3e4585.setContent(html_54044bafa1ea43dc5b414bca042f6d64);
            
        

        marker_9f9e424a0d97062970040535a63ba1d3.bindPopup(popup_6476ff5ba3fa171eea112f022a3e4585)
        ;

        
    
    
            var marker_0a28da0a15ab0ebc0f92299d59bb86b4 = L.marker(
                [47.4857364240772, 19.055044513494188],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_316730231d22decedbcd016371755a23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0a28da0a15ab0ebc0f92299d59bb86b4.setIcon(icon_316730231d22decedbcd016371755a23);
        
    
        var popup_2d0324a23427838563a0fcf581d1c65c = L.popup({"maxWidth": 300});

        
            
                var html_e4df7dcd8b62c14dc893baad1cf9d8fb = $(`<div id="html_e4df7dcd8b62c14dc893baad1cf9d8fb" style="width: 100.0%; height: 100.0%;">Franz Joseph</div>`)[0];
                popup_2d0324a23427838563a0fcf581d1c65c.setContent(html_e4df7dcd8b62c14dc893baad1cf9d8fb);
            
        

        marker_0a28da0a15ab0ebc0f92299d59bb86b4.bindPopup(popup_2d0324a23427838563a0fcf581d1c65c)
        ;

        
    
    
            var marker_c5bbf41625ac527d6a6cefc4e291eefc = L.marker(
                [47.49047747038775, 19.047098191767173],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_4a4a21a8688a4d21f3df3b372992927c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c5bbf41625ac527d6a6cefc4e291eefc.setIcon(icon_4a4a21a8688a4d21f3df3b372992927c);
        
    
        var popup_84b610ed70355db6519796907c50337c = L.popup({"maxWidth": 300});

        
            
                var html_b374315e1368939594534abf45715921 = $(`<div id="html_b374315e1368939594534abf45715921" style="width: 100.0%; height: 100.0%;">Ratatouille</div>`)[0];
                popup_84b610ed70355db6519796907c50337c.setContent(html_b374315e1368939594534abf45715921);
            
        

        marker_c5bbf41625ac527d6a6cefc4e291eefc.bindPopup(popup_84b610ed70355db6519796907c50337c)
        ;

        
    
    
            var marker_9774e59f50f16d554f2b811968d7a183 = L.marker(
                [47.53622714729415, 19.057893617791184],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_a03603bba6398efeb76a4da9ce917113 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9774e59f50f16d554f2b811968d7a183.setIcon(icon_a03603bba6398efeb76a4da9ce917113);
        
    
        var popup_ab2d7db21574752094768abf85069643 = L.popup({"maxWidth": 300});

        
            
                var html_0f52639cc00cdd19f2603ca3a71af0fc = $(`<div id="html_0f52639cc00cdd19f2603ca3a71af0fc" style="width: 100.0%; height: 100.0%;">Russian warship</div>`)[0];
                popup_ab2d7db21574752094768abf85069643.setContent(html_0f52639cc00cdd19f2603ca3a71af0fc);
            
        

        marker_9774e59f50f16d554f2b811968d7a183.bindPopup(popup_ab2d7db21574752094768abf85069643)
        ;

        
    
    
            var marker_eacf2abfa61876094e1580331f0bcedc = L.marker(
                [47.51070262788849, 19.056344650664446],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_8e1788d791c75ca00012b025cfa433c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_eacf2abfa61876094e1580331f0bcedc.setIcon(icon_8e1788d791c75ca00012b025cfa433c5);
        
    
        var popup_f392e30a507ab506421669c819196ccf = L.popup({"maxWidth": 300});

        
            
                var html_93bdfc3db63d179d574fe29fdb2a803f = $(`<div id="html_93bdfc3db63d179d574fe29fdb2a803f" style="width: 100.0%; height: 100.0%;">Skála Kópé</div>`)[0];
                popup_f392e30a507ab506421669c819196ccf.setContent(html_93bdfc3db63d179d574fe29fdb2a803f);
            
        

        marker_eacf2abfa61876094e1580331f0bcedc.bindPopup(popup_f392e30a507ab506421669c819196ccf)
        ;

        
    
    
            var marker_5346e20fdfaf2754881e775dc3f36910 = L.marker(
                [47.53290675728547, 19.03955468362713],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_ba358797be2171afc71bf3db14494090 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person-rifle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5346e20fdfaf2754881e775dc3f36910.setIcon(icon_ba358797be2171afc71bf3db14494090);
        
    
        var popup_d53a31f109651a22a841fce759524c4b = L.popup({"maxWidth": 300});

        
            
                var html_9ed812dcc6f6f458790b341960338e04 = $(`<div id="html_9ed812dcc6f6f458790b341960338e04" style="width: 100.0%; height: 100.0%;">In Vino VEritas</div>`)[0];
                popup_d53a31f109651a22a841fce759524c4b.setContent(html_9ed812dcc6f6f458790b341960338e04);
            
        

        marker_5346e20fdfaf2754881e775dc3f36910.bindPopup(popup_d53a31f109651a22a841fce759524c4b)
        ;

        
    
    
            var marker_c33c7bf5008931c61679fcb135f3ffd2 = L.marker(
                [47.507204159185775, 19.031536844779563],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_2a98773e38e79e6785a4a23b1f683cec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c33c7bf5008931c61679fcb135f3ffd2.setIcon(icon_2a98773e38e79e6785a4a23b1f683cec);
        
    
        var popup_99fce9cd323e356f8ec005b7a5d915bc = L.popup({"maxWidth": 300});

        
            
                var html_a882c6b10e0aad962e7598be068435ae = $(`<div id="html_a882c6b10e0aad962e7598be068435ae" style="width: 100.0%; height: 100.0%;">Dogs</div>`)[0];
                popup_99fce9cd323e356f8ec005b7a5d915bc.setContent(html_a882c6b10e0aad962e7598be068435ae);
            
        

        marker_c33c7bf5008931c61679fcb135f3ffd2.bindPopup(popup_99fce9cd323e356f8ec005b7a5d915bc)
        ;

        
    
    
            var marker_129c0d31995eb89f94fe247e77618686 = L.marker(
                [47.514731638791666, 19.082434815341077],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_745719c38d22e4b951f9b84b10b4ec06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_129c0d31995eb89f94fe247e77618686.setIcon(icon_745719c38d22e4b951f9b84b10b4ec06);
        
    
        var popup_09b56ff908ee250356a333950ddf33bc = L.popup({"maxWidth": 300});

        
            
                var html_bbba689ad6676768793d5548d7f7c70e = $(`<div id="html_bbba689ad6676768793d5548d7f7c70e" style="width: 100.0%; height: 100.0%;">Dracula</div>`)[0];
                popup_09b56ff908ee250356a333950ddf33bc.setContent(html_bbba689ad6676768793d5548d7f7c70e);
            
        

        marker_129c0d31995eb89f94fe247e77618686.bindPopup(popup_09b56ff908ee250356a333950ddf33bc)
        ;

        
    
    
            var marker_aa553d0760662e671cc7f5848cde0923 = L.marker(
                [47.50926926464884, 19.045323876064934],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_25738dc081a08fda8700b170681b6988 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hat-cowboy", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_aa553d0760662e671cc7f5848cde0923.setIcon(icon_25738dc081a08fda8700b170681b6988);
        
    
        var popup_75e1db88e4fa8256508e897f7e3a22d5 = L.popup({"maxWidth": 300});

        
            
                var html_0fcad675170c1a55404d8dbd23269bfd = $(`<div id="html_0fcad675170c1a55404d8dbd23269bfd" style="width: 100.0%; height: 100.0%;">Ushanka</div>`)[0];
                popup_75e1db88e4fa8256508e897f7e3a22d5.setContent(html_0fcad675170c1a55404d8dbd23269bfd);
            
        

        marker_aa553d0760662e671cc7f5848cde0923.bindPopup(popup_75e1db88e4fa8256508e897f7e3a22d5)
        ;

        
    
    
            var marker_e07b5fcdff5c743c490a1f413cdaedfa = L.marker(
                [47.50907113306574, 19.035877393405233],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_7fd76c9702d4a58d45ce21bb0beeb5e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bear", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e07b5fcdff5c743c490a1f413cdaedfa.setIcon(icon_7fd76c9702d4a58d45ce21bb0beeb5e9);
        
    
        var popup_8005e286dfc21f9beb3e23d7abc2ecc5 = L.popup({"maxWidth": 300});

        
            
                var html_c66f5d6f58bcb7b69a86dc1a57f8d671 = $(`<div id="html_c66f5d6f58bcb7b69a86dc1a57f8d671" style="width: 100.0%; height: 100.0%;">Paddington</div>`)[0];
                popup_8005e286dfc21f9beb3e23d7abc2ecc5.setContent(html_c66f5d6f58bcb7b69a86dc1a57f8d671);
            
        

        marker_e07b5fcdff5c743c490a1f413cdaedfa.bindPopup(popup_8005e286dfc21f9beb3e23d7abc2ecc5)
        ;

        
    
    
            var marker_c4ba3db54c1468c515b069fb848751c9 = L.marker(
                [47.506815317129444, 19.025463886505808],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_43ab0062b7f194c336070cf48942a065 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "magnet", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c4ba3db54c1468c515b069fb848751c9.setIcon(icon_43ab0062b7f194c336070cf48942a065);
        
    
        var popup_f08bd748580aa5f37ebd9a85624c4fc2 = L.popup({"maxWidth": 300});

        
            
                var html_cb72f0cc6e7a5c33e3350ccc11ca0603 = $(`<div id="html_cb72f0cc6e7a5c33e3350ccc11ca0603" style="width: 100.0%; height: 100.0%;">Mekk Elek Cert</div>`)[0];
                popup_f08bd748580aa5f37ebd9a85624c4fc2.setContent(html_cb72f0cc6e7a5c33e3350ccc11ca0603);
            
        

        marker_c4ba3db54c1468c515b069fb848751c9.bindPopup(popup_f08bd748580aa5f37ebd9a85624c4fc2)
        ;

        
    
    
            var marker_de2747022b4e94f8d85809de0d5e14a5 = L.marker(
                [47.49730006126405, 19.047420132927574],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_6869fd4ba8602825dc79e3008f004d9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_de2747022b4e94f8d85809de0d5e14a5.setIcon(icon_6869fd4ba8602825dc79e3008f004d9a);
        
    
        var popup_795659085c6c62fe93fe79241b385665 = L.popup({"maxWidth": 300});

        
            
                var html_3d22e6bb5c4c6b0577925fef3866e4fa = $(`<div id="html_3d22e6bb5c4c6b0577925fef3866e4fa" style="width: 100.0%; height: 100.0%;">Baloon Dog</div>`)[0];
                popup_795659085c6c62fe93fe79241b385665.setContent(html_3d22e6bb5c4c6b0577925fef3866e4fa);
            
        

        marker_de2747022b4e94f8d85809de0d5e14a5.bindPopup(popup_795659085c6c62fe93fe79241b385665)
        ;

        
    
    
            var marker_c46e70eb991780edaa7d6ae394f859e4 = L.marker(
                [47.49791494719889, 19.03984081162018],
                {}
            ).addTo(marker_cluster_b35b236d4935e05eb2b5094de1b9e92b);
        
    
            var icon_d55c2e4e32eff2e538af0ad01f39ec6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c46e70eb991780edaa7d6ae394f859e4.setIcon(icon_d55c2e4e32eff2e538af0ad01f39ec6a);
        
    
        var popup_32e0206b1dfb18e18f567c992752dba9 = L.popup({"maxWidth": 300});

        
            
                var html_7358af2895fbffff810dee6ea92a01eb = $(`<div id="html_7358af2895fbffff810dee6ea92a01eb" style="width: 100.0%; height: 100.0%;">Rabbit</div>`)[0];
                popup_32e0206b1dfb18e18f567c992752dba9.setContent(html_7358af2895fbffff810dee6ea92a01eb);
            
        

        marker_c46e70eb991780edaa7d6ae394f859e4.bindPopup(popup_32e0206b1dfb18e18f567c992752dba9)
        ;

        
    
    
            marker_cluster_b35b236d4935e05eb2b5094de1b9e92b.addTo(map_0a5636b3e82801d6aaa8bee052d0ac77);
        
</script>
</html>