<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_87d16a457366de72816cf335e1e2a08e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
    <script>
        // Get the map container
        var map = document.querySelector('.folium-map');
        
        // Function to adjust zoom based on screen width
        function adjustZoom() {
            var mapObj = document.querySelector('.folium-map')._leaflet_map;
            if (window.innerWidth < 768) {
                // Mobile view - set zoom to a lower level
                mapObj.setZoom(12);
            } else {
                // Desktop view - use original zoom
                mapObj.setZoom(16);
            }
        }
        
        // Add a listener for map load event
        if (map._leaflet_map) {
            adjustZoom();
        } else {
            map.addEventListener('leaflet.map.init', function() {
                // Run after the map is initialized
                setTimeout(adjustZoom, 100);
            });
        }
        
        // Adjust zoom when window is resized
        window.addEventListener('resize', adjustZoom);
    </script>
    
    
            <div class="folium-map" id="map_87d16a457366de72816cf335e1e2a08e" ></div>
        
</body>
<script>
    
    
            var map_87d16a457366de72816cf335e1e2a08e = L.map(
                "map_87d16a457366de72816cf335e1e2a08e",
                {
                    center: [47.50391, 19.05076],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_27a333839147ca5a667613833eca9fe0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_27a333839147ca5a667613833eca9fe0.addTo(map_87d16a457366de72816cf335e1e2a08e);
        
    
            var marker_cluster_c29ba57379a5d629bd60c9b643954c13 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_063915c5b11c87aaddaa5ba527484881 = L.marker(
                [47.512603, 19.04895],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_9c5ad9a2cc15480192c41bdc76536037 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_063915c5b11c87aaddaa5ba527484881.setIcon(icon_9c5ad9a2cc15480192c41bdc76536037);
        
    
        var popup_9099a9cd59e42052de21b7bb73bf4591 = L.popup({"maxWidth": 300});

        
            
                var html_dc3bba0ddb844d3608e31fb0b13743d2 = $(`<div id="html_dc3bba0ddb844d3608e31fb0b13743d2" style="width: 100.0%; height: 100.0%;">The Dead Squirell</div>`)[0];
                popup_9099a9cd59e42052de21b7bb73bf4591.setContent(html_dc3bba0ddb844d3608e31fb0b13743d2);
            
        

        marker_063915c5b11c87aaddaa5ba527484881.bindPopup(popup_9099a9cd59e42052de21b7bb73bf4591)
        ;

        
    
    
            var marker_0a32e56ff61259c58cf4a4afedbc47b4 = L.marker(
                [47.5040513, 19.0514726],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_8867c089df9c9f8360a10495e8fe427d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "frog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0a32e56ff61259c58cf4a4afedbc47b4.setIcon(icon_8867c089df9c9f8360a10495e8fe427d);
        
    
        var popup_06f7aa5b6a5117e8903a6e45f0bbeea4 = L.popup({"maxWidth": 300});

        
            
                var html_02ce2ff9f4c72c2f0ed1ae7c152df37e = $(`<div id="html_02ce2ff9f4c72c2f0ed1ae7c152df37e" style="width: 100.0%; height: 100.0%;">Kermit the Frog</div>`)[0];
                popup_06f7aa5b6a5117e8903a6e45f0bbeea4.setContent(html_02ce2ff9f4c72c2f0ed1ae7c152df37e);
            
        

        marker_0a32e56ff61259c58cf4a4afedbc47b4.bindPopup(popup_06f7aa5b6a5117e8903a6e45f0bbeea4)
        ;

        
    
    
            var marker_ab9c304b0c061b025e1c7f5bfe84d1ee = L.marker(
                [47.50264113692668, 19.039962542895616],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_7cf4edc2f038edd668af7664c9a9c9c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fish", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ab9c304b0c061b025e1c7f5bfe84d1ee.setIcon(icon_7cf4edc2f038edd668af7664c9a9c9c1);
        
    
        var popup_d33887fba41181ab4b9361566bdb622d = L.popup({"maxWidth": 300});

        
            
                var html_5ff0e6aa40408c4194b2c912e03c10fd = $(`<div id="html_5ff0e6aa40408c4194b2c912e03c10fd" style="width: 100.0%; height: 100.0%;">Főkukac</div>`)[0];
                popup_d33887fba41181ab4b9361566bdb622d.setContent(html_5ff0e6aa40408c4194b2c912e03c10fd);
            
        

        marker_ab9c304b0c061b025e1c7f5bfe84d1ee.bindPopup(popup_d33887fba41181ab4b9361566bdb622d)
        ;

        
    
    
            var marker_6a46b0eb393a544567a4ecfb57b52918 = L.marker(
                [47.505290167783166, 19.03959366517465],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_e64c68649cba3b8d2500b881b98f13a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6a46b0eb393a544567a4ecfb57b52918.setIcon(icon_e64c68649cba3b8d2500b881b98f13a4);
        
    
        var popup_14652a34f478489ca6ced13df62aa5af = L.popup({"maxWidth": 300});

        
            
                var html_1224d9edd0a757d3bdaf35f0f065aa45 = $(`<div id="html_1224d9edd0a757d3bdaf35f0f065aa45" style="width: 100.0%; height: 100.0%;">Tank</div>`)[0];
                popup_14652a34f478489ca6ced13df62aa5af.setContent(html_1224d9edd0a757d3bdaf35f0f065aa45);
            
        

        marker_6a46b0eb393a544567a4ecfb57b52918.bindPopup(popup_14652a34f478489ca6ced13df62aa5af)
        ;

        
    
    
            var marker_e1358a02d9fdaa7103331c85013a1601 = L.marker(
                [47.504784750961186, 19.039689823872752],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_546c4d559ff98eb545a7e3ee1a895ef9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cubes", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e1358a02d9fdaa7103331c85013a1601.setIcon(icon_546c4d559ff98eb545a7e3ee1a895ef9);
        
    
        var popup_2db9b7ca18bc2e7ed60fe9134aae2552 = L.popup({"maxWidth": 300});

        
            
                var html_61321f021d6975ecac1abc4e69d16cc7 = $(`<div id="html_61321f021d6975ecac1abc4e69d16cc7" style="width: 100.0%; height: 100.0%;">Rubik cube</div>`)[0];
                popup_2db9b7ca18bc2e7ed60fe9134aae2552.setContent(html_61321f021d6975ecac1abc4e69d16cc7);
            
        

        marker_e1358a02d9fdaa7103331c85013a1601.bindPopup(popup_2db9b7ca18bc2e7ed60fe9134aae2552)
        ;

        
    
    
            var marker_9baa95082977a4f76af50e3305fa5a2a = L.marker(
                [47.4989897265813, 19.0707676486581],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_3aaae00c5d8d2e280297c50563e74cb9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fish", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9baa95082977a4f76af50e3305fa5a2a.setIcon(icon_3aaae00c5d8d2e280297c50563e74cb9);
        
    
        var popup_96ce51b214484ec3a4d65878f4b5051d = L.popup({"maxWidth": 300});

        
            
                var html_0109a60f3bea540eb781a31a50469d8d = $(`<div id="html_0109a60f3bea540eb781a31a50469d8d" style="width: 100.0%; height: 100.0%;">Diver</div>`)[0];
                popup_96ce51b214484ec3a4d65878f4b5051d.setContent(html_0109a60f3bea540eb781a31a50469d8d);
            
        

        marker_9baa95082977a4f76af50e3305fa5a2a.bindPopup(popup_96ce51b214484ec3a4d65878f4b5051d)
        ;

        
    
    
            var marker_48a924819cf830e5196e7e443b890d04 = L.marker(
                [47.50584439836122, 19.052172422007544],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_37a2de2a86ab66a094076a4a3ef763be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car-side", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_48a924819cf830e5196e7e443b890d04.setIcon(icon_37a2de2a86ab66a094076a4a3ef763be);
        
    
        var popup_dc44c15be1a998c81f280c78cdf915ea = L.popup({"maxWidth": 300});

        
            
                var html_9ee85b13d32657e007bb0e691ebd1fe1 = $(`<div id="html_9ee85b13d32657e007bb0e691ebd1fe1" style="width: 100.0%; height: 100.0%;">Moon rover</div>`)[0];
                popup_dc44c15be1a998c81f280c78cdf915ea.setContent(html_9ee85b13d32657e007bb0e691ebd1fe1);
            
        

        marker_48a924819cf830e5196e7e443b890d04.bindPopup(popup_dc44c15be1a998c81f280c78cdf915ea)
        ;

        
    
    
            var marker_8449a24b6dd93eaf90b9c86dced28d29 = L.marker(
                [47.50506949923929, 19.049972488786576],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_7e03a60e859f2ba6731bcac27da9a610 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hammer", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8449a24b6dd93eaf90b9c86dced28d29.setIcon(icon_7e03a60e859f2ba6731bcac27da9a610);
        
    
        var popup_93c55a17d3552bc899902b200754981a = L.popup({"maxWidth": 300});

        
            
                var html_9348653d3585fefd00e3add2c68e1c42 = $(`<div id="html_9348653d3585fefd00e3add2c68e1c42" style="width: 100.0%; height: 100.0%;">Axe</div>`)[0];
                popup_93c55a17d3552bc899902b200754981a.setContent(html_9348653d3585fefd00e3add2c68e1c42);
            
        

        marker_8449a24b6dd93eaf90b9c86dced28d29.bindPopup(popup_93c55a17d3552bc899902b200754981a)
        ;

        
    
    
            var marker_13cf6054029b8a0823472bbab546b677 = L.marker(
                [47.50369371272755, 19.07249530615872],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_c55124486d987ddb91fc9dc47746d13a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car-side", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_13cf6054029b8a0823472bbab546b677.setIcon(icon_c55124486d987ddb91fc9dc47746d13a);
        
    
        var popup_fac61764a7382fc2f37ecf40bbf80493 = L.popup({"maxWidth": 300});

        
            
                var html_fcdfdf7768a2752a35441f3940d8b9b1 = $(`<div id="html_fcdfdf7768a2752a35441f3940d8b9b1" style="width: 100.0%; height: 100.0%;">14-karat Roadster</div>`)[0];
                popup_fac61764a7382fc2f37ecf40bbf80493.setContent(html_fcdfdf7768a2752a35441f3940d8b9b1);
            
        

        marker_13cf6054029b8a0823472bbab546b677.bindPopup(popup_fac61764a7382fc2f37ecf40bbf80493)
        ;

        
    
    
            var marker_a4f20899165afce62a2ab6a2fd62755b = L.marker(
                [47.50371019740113, 19.079569975600943],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_9151210ea453157fa072d666d89f910c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a4f20899165afce62a2ab6a2fd62755b.setIcon(icon_9151210ea453157fa072d666d89f910c);
        
    
        var popup_9b81d1fdf96dccdf5636af9e2c283e27 = L.popup({"maxWidth": 300});

        
            
                var html_c67963acbbbceed9a0421bb8734ff538 = $(`<div id="html_c67963acbbbceed9a0421bb8734ff538" style="width: 100.0%; height: 100.0%;">Noahs Ark</div>`)[0];
                popup_9b81d1fdf96dccdf5636af9e2c283e27.setContent(html_c67963acbbbceed9a0421bb8734ff538);
            
        

        marker_a4f20899165afce62a2ab6a2fd62755b.bindPopup(popup_9b81d1fdf96dccdf5636af9e2c283e27)
        ;

        
    
    
            var marker_1dd61f3f2e58b5240440793a3ac27ee5 = L.marker(
                [47.49747423597556, 19.051463347995544],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_a7e5d17cbbae5a8ccc8d9ec4a0fa8870 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_1dd61f3f2e58b5240440793a3ac27ee5.setIcon(icon_a7e5d17cbbae5a8ccc8d9ec4a0fa8870);
        
    
        var popup_c0307ac6b9c94668408ba57a43290841 = L.popup({"maxWidth": 300});

        
            
                var html_ff6b1400f408b2833402f1d03c9e2a25 = $(`<div id="html_ff6b1400f408b2833402f1d03c9e2a25" style="width: 100.0%; height: 100.0%;">Bear</div>`)[0];
                popup_c0307ac6b9c94668408ba57a43290841.setContent(html_ff6b1400f408b2833402f1d03c9e2a25);
            
        

        marker_1dd61f3f2e58b5240440793a3ac27ee5.bindPopup(popup_c0307ac6b9c94668408ba57a43290841)
        ;

        
    
    
            var marker_2081f6af3ae2c0f8eb7689d24e21a800 = L.marker(
                [47.4857364240772, 19.055044513494188],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_c41d97977bf5bc97e43c08ca92aa08c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2081f6af3ae2c0f8eb7689d24e21a800.setIcon(icon_c41d97977bf5bc97e43c08ca92aa08c3);
        
    
        var popup_0dc1d9286f24a3d7d3d77cc27a33f979 = L.popup({"maxWidth": 300});

        
            
                var html_46e673a086966098360eb0c1deb64eca = $(`<div id="html_46e673a086966098360eb0c1deb64eca" style="width: 100.0%; height: 100.0%;">Franz Joseph</div>`)[0];
                popup_0dc1d9286f24a3d7d3d77cc27a33f979.setContent(html_46e673a086966098360eb0c1deb64eca);
            
        

        marker_2081f6af3ae2c0f8eb7689d24e21a800.bindPopup(popup_0dc1d9286f24a3d7d3d77cc27a33f979)
        ;

        
    
    
            var marker_e19e26d577cf92eb7469ad2090d582da = L.marker(
                [47.49047747038775, 19.047098191767173],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_0ddbb1d58013ed00ad203974ec821bde = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "otter", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e19e26d577cf92eb7469ad2090d582da.setIcon(icon_0ddbb1d58013ed00ad203974ec821bde);
        
    
        var popup_6de1ad7bc7905eda850928a4cf698968 = L.popup({"maxWidth": 300});

        
            
                var html_f0382b41673882332a9ea8623801d40c = $(`<div id="html_f0382b41673882332a9ea8623801d40c" style="width: 100.0%; height: 100.0%;">Ratatouille</div>`)[0];
                popup_6de1ad7bc7905eda850928a4cf698968.setContent(html_f0382b41673882332a9ea8623801d40c);
            
        

        marker_e19e26d577cf92eb7469ad2090d582da.bindPopup(popup_6de1ad7bc7905eda850928a4cf698968)
        ;

        
    
    
            var marker_294008833985880485717c90d046b693 = L.marker(
                [47.53622714729415, 19.057893617791184],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_504001c1f7350f1835248a28af66f720 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_294008833985880485717c90d046b693.setIcon(icon_504001c1f7350f1835248a28af66f720);
        
    
        var popup_c12c74601382861a4d102bd7b473e50b = L.popup({"maxWidth": 300});

        
            
                var html_cec57459fa024e2f503d9e5fe7f835f5 = $(`<div id="html_cec57459fa024e2f503d9e5fe7f835f5" style="width: 100.0%; height: 100.0%;">Russian warship</div>`)[0];
                popup_c12c74601382861a4d102bd7b473e50b.setContent(html_cec57459fa024e2f503d9e5fe7f835f5);
            
        

        marker_294008833985880485717c90d046b693.bindPopup(popup_c12c74601382861a4d102bd7b473e50b)
        ;

        
    
    
            var marker_fe43259351607020d1cc9cbf0555cd9f = L.marker(
                [47.51070262788849, 19.056344650664446],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_b80e6203959c99bd35eaafce1b402686 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ship", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_fe43259351607020d1cc9cbf0555cd9f.setIcon(icon_b80e6203959c99bd35eaafce1b402686);
        
    
        var popup_5789a328a898cc5bbb75475383e9f86a = L.popup({"maxWidth": 300});

        
            
                var html_c8e639c7d2e66c9c8b56a0be1615aef6 = $(`<div id="html_c8e639c7d2e66c9c8b56a0be1615aef6" style="width: 100.0%; height: 100.0%;">Skála Kópé</div>`)[0];
                popup_5789a328a898cc5bbb75475383e9f86a.setContent(html_c8e639c7d2e66c9c8b56a0be1615aef6);
            
        

        marker_fe43259351607020d1cc9cbf0555cd9f.bindPopup(popup_5789a328a898cc5bbb75475383e9f86a)
        ;

        
    
    
            var marker_6b550651cbc49c34c214b730010a7175 = L.marker(
                [47.53290675728547, 19.03955468362713],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_b967c7ec7f1267067c0ce0ab11e6a259 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person-rifle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6b550651cbc49c34c214b730010a7175.setIcon(icon_b967c7ec7f1267067c0ce0ab11e6a259);
        
    
        var popup_c36e4ab1c1b75a5c84c76cd723ceb67d = L.popup({"maxWidth": 300});

        
            
                var html_ae2ed721d02d678ef3ea4776c0c5cbac = $(`<div id="html_ae2ed721d02d678ef3ea4776c0c5cbac" style="width: 100.0%; height: 100.0%;">In Vino VEritas</div>`)[0];
                popup_c36e4ab1c1b75a5c84c76cd723ceb67d.setContent(html_ae2ed721d02d678ef3ea4776c0c5cbac);
            
        

        marker_6b550651cbc49c34c214b730010a7175.bindPopup(popup_c36e4ab1c1b75a5c84c76cd723ceb67d)
        ;

        
    
    
            var marker_089c5b53149d77d3053748985119974d = L.marker(
                [47.507204159185775, 19.031536844779563],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_0226f501710def659d922dfa23a41517 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_089c5b53149d77d3053748985119974d.setIcon(icon_0226f501710def659d922dfa23a41517);
        
    
        var popup_055c778ad88f7eda29cc4e6e804bb244 = L.popup({"maxWidth": 300});

        
            
                var html_ef83a282db3456db9e062358de829319 = $(`<div id="html_ef83a282db3456db9e062358de829319" style="width: 100.0%; height: 100.0%;">Dogs</div>`)[0];
                popup_055c778ad88f7eda29cc4e6e804bb244.setContent(html_ef83a282db3456db9e062358de829319);
            
        

        marker_089c5b53149d77d3053748985119974d.bindPopup(popup_055c778ad88f7eda29cc4e6e804bb244)
        ;

        
    
    
            var marker_c5e4c4ee6d883e6d3163c2a1f834958b = L.marker(
                [47.514731638791666, 19.082434815341077],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_be28694e29d1da4fe8e95add4f1880af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c5e4c4ee6d883e6d3163c2a1f834958b.setIcon(icon_be28694e29d1da4fe8e95add4f1880af);
        
    
        var popup_a46cecf04e22345b57eed5907709a4fd = L.popup({"maxWidth": 300});

        
            
                var html_05c039cba643c4eea1545fc4f35f886f = $(`<div id="html_05c039cba643c4eea1545fc4f35f886f" style="width: 100.0%; height: 100.0%;">Dracula</div>`)[0];
                popup_a46cecf04e22345b57eed5907709a4fd.setContent(html_05c039cba643c4eea1545fc4f35f886f);
            
        

        marker_c5e4c4ee6d883e6d3163c2a1f834958b.bindPopup(popup_a46cecf04e22345b57eed5907709a4fd)
        ;

        
    
    
            var marker_8ffbbc88fabc263ab4a5d86f1fe21577 = L.marker(
                [47.50926926464884, 19.045323876064934],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_07fff2103bedb4261f92fd2d621d9034 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hat-cowboy", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8ffbbc88fabc263ab4a5d86f1fe21577.setIcon(icon_07fff2103bedb4261f92fd2d621d9034);
        
    
        var popup_c8c8f7c4412614102d9f311665527484 = L.popup({"maxWidth": 300});

        
            
                var html_fe11039adede21fb24eec5ac52052b3f = $(`<div id="html_fe11039adede21fb24eec5ac52052b3f" style="width: 100.0%; height: 100.0%;">Ushanka</div>`)[0];
                popup_c8c8f7c4412614102d9f311665527484.setContent(html_fe11039adede21fb24eec5ac52052b3f);
            
        

        marker_8ffbbc88fabc263ab4a5d86f1fe21577.bindPopup(popup_c8c8f7c4412614102d9f311665527484)
        ;

        
    
    
            var marker_ee774952738ca8df3997c4a9528f76ef = L.marker(
                [47.50907579897638, 19.03588699313249],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_8fd224e280153f5c070911147180c97a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hippo", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ee774952738ca8df3997c4a9528f76ef.setIcon(icon_8fd224e280153f5c070911147180c97a);
        
    
        var popup_29b3599472178731b3e31f91000c7355 = L.popup({"maxWidth": 300});

        
            
                var html_a0686f6b788bda958081298dca657abf = $(`<div id="html_a0686f6b788bda958081298dca657abf" style="width: 100.0%; height: 100.0%;">Paddington</div>`)[0];
                popup_29b3599472178731b3e31f91000c7355.setContent(html_a0686f6b788bda958081298dca657abf);
            
        

        marker_ee774952738ca8df3997c4a9528f76ef.bindPopup(popup_29b3599472178731b3e31f91000c7355)
        ;

        
    
    
            var marker_eb4086641c1ea77fd570fff70fc6907c = L.marker(
                [47.506815317129444, 19.025463886505808],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_3f1302273285ce56f6a09c18cd8a3484 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dragon", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_eb4086641c1ea77fd570fff70fc6907c.setIcon(icon_3f1302273285ce56f6a09c18cd8a3484);
        
    
        var popup_44938ba152385705d79743e3cd9ccece = L.popup({"maxWidth": 300});

        
            
                var html_8ebe29d654a3fb1bd5134d1ef8f43a1f = $(`<div id="html_8ebe29d654a3fb1bd5134d1ef8f43a1f" style="width: 100.0%; height: 100.0%;">Mekk Elek Cert</div>`)[0];
                popup_44938ba152385705d79743e3cd9ccece.setContent(html_8ebe29d654a3fb1bd5134d1ef8f43a1f);
            
        

        marker_eb4086641c1ea77fd570fff70fc6907c.bindPopup(popup_44938ba152385705d79743e3cd9ccece)
        ;

        
    
    
            var marker_95a8c62619765f28c32ab1dfc967c57c = L.marker(
                [47.49730344472314, 19.04741610188415],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_8459413c8819eeab135119a2b33ce049 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "dog", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_95a8c62619765f28c32ab1dfc967c57c.setIcon(icon_8459413c8819eeab135119a2b33ce049);
        
    
        var popup_9b1577f586bef4d7a1b8ff475f851fc1 = L.popup({"maxWidth": 300});

        
            
                var html_4f4971867425349f4fc107cd2c0053e8 = $(`<div id="html_4f4971867425349f4fc107cd2c0053e8" style="width: 100.0%; height: 100.0%;">Baloon Dog</div>`)[0];
                popup_9b1577f586bef4d7a1b8ff475f851fc1.setContent(html_4f4971867425349f4fc107cd2c0053e8);
            
        

        marker_95a8c62619765f28c32ab1dfc967c57c.bindPopup(popup_9b1577f586bef4d7a1b8ff475f851fc1)
        ;

        
    
    
            var marker_bb44acb646e012ea480a5d14aa7f582c = L.marker(
                [47.49791494719889, 19.03984081162018],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_2194004c7fc6b891a45c72c7dfa5c50b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "paw", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_bb44acb646e012ea480a5d14aa7f582c.setIcon(icon_2194004c7fc6b891a45c72c7dfa5c50b);
        
    
        var popup_9b2ba5bd020e3044cc41322d0c0f70d2 = L.popup({"maxWidth": 300});

        
            
                var html_97c355f1db9b8591722654f57f71f48b = $(`<div id="html_97c355f1db9b8591722654f57f71f48b" style="width: 100.0%; height: 100.0%;">Rabbit</div>`)[0];
                popup_9b2ba5bd020e3044cc41322d0c0f70d2.setContent(html_97c355f1db9b8591722654f57f71f48b);
            
        

        marker_bb44acb646e012ea480a5d14aa7f582c.bindPopup(popup_9b2ba5bd020e3044cc41322d0c0f70d2)
        ;

        
    
    
            var marker_d7ebc6e1fbddd81d912efd3aba231a28 = L.marker(
                [47.48476030514735, 19.05909640224894],
                {}
            ).addTo(marker_cluster_c29ba57379a5d629bd60c9b643954c13);
        
    
            var icon_ee2f28e6d1d3ef10d282bf33ee00bfc6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d7ebc6e1fbddd81d912efd3aba231a28.setIcon(icon_ee2f28e6d1d3ef10d282bf33ee00bfc6);
        
    
        var popup_a4c320d20016dbb20c2eda70225a95e3 = L.popup({"maxWidth": 300});

        
            
                var html_2f4bd62df009ab7fcc71ec97fd26ab4f = $(`<div id="html_2f4bd62df009ab7fcc71ec97fd26ab4f" style="width: 100.0%; height: 100.0%;">Jane Dark</div>`)[0];
                popup_a4c320d20016dbb20c2eda70225a95e3.setContent(html_2f4bd62df009ab7fcc71ec97fd26ab4f);
            
        

        marker_d7ebc6e1fbddd81d912efd3aba231a28.bindPopup(popup_a4c320d20016dbb20c2eda70225a95e3)
        ;

        
    
    
            marker_cluster_c29ba57379a5d629bd60c9b643954c13.addTo(map_87d16a457366de72816cf335e1e2a08e);
        
</script>
</html>